@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

Interacting with a single API in Blazor WebAssembly .NET 7 - Blazor School
<br />
If you are looking for more Blazor WebAssembly tutorials, go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.

<div>Sending request:</div>
<div><NavLink href="sending-complex-data">Sending Complex Data</NavLink></div>
<div><NavLink href="sending-data-via-url">Sending Data via URL</NavLink></div>
<div><NavLink href="sending-primitive-data">Sending Primitive Data</NavLink></div>
<div><NavLink href="sending-stream">Sending Stream</NavLink></div>
<div>Process response:</div>
<div><NavLink href="process-json-response-data-by-microsoft-library">Process JSON response with System.Text.Json</NavLink></div>
<div><NavLink href="process-json-response-data-by-newtonsoft-library">Process JSON response with Newtonsoft.Json</NavLink></div>
<div><NavLink href="process-primitive-response-data">Process Primitive Response</NavLink></div>
<div><NavLink href="process-stream-data">Process Stream Data</NavLink></div>
<div>Register HttpClient:</div>
<div><NavLink href="derived-class">Derived HttpClient</NavLink></div>
<div><NavLink href="http-client-wrapper">HttpClient Wrapper</NavLink></div>
<div><NavLink href="named-http-client">Named HttpClient</NavLink></div>
<div>Interfere requests:</div>
<div><NavLink href="http-client-with-middleware">HttpClient with Middleware</NavLink></div>
<div><NavLink href="interfere-with-http-client-extension">HttpClient Extensions</NavLink></div>
<div><NavLink href="interfere-with-http-client-wrapper">HttpClient Wrapper</NavLink></div>