@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

Interacting with a single API in Blazor WebAssembly .NET 7 - Blazor School
<br />
If you are looking for more Blazor WebAssembly tutorials, go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.

<div><NavLink href="weather-display">Use the API</NavLink></div>